{% load static %}
{% static "assets/images" as baseUrl %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medical Chatbot</title>
    <!-- google fonts -->
    <!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">

</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <h1><a class="navbar-brand" href="index.html">
                        Medical <span class="sub-color">Chatbot</span>
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/adminlogin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">User</a>
                        </li>                             <li class="nav-item">
                            <a class="nav-link" href="/doctor">Doctor</a>
                        </li>

                    </ul>
                    
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/Banner-Start-->
    <section class="banner-19">
        <div class="banner-layer">
            <div class="main-content-top">
                <div class="container">
                    <div class="main-content">
                        <div class="w3lbanner-left">
                            <!-- if logo is image enable this   
                        <a class="logo" href="index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                            <h6>Welcome to </h6>
                            <h4>Medical Chatbot</h4>
                        </div>
                        <div class="w3lbanner-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Banner-End-->

    <section class="w3l-circles py-5" id="circles">
        <div class="container py-md-5 py-2">

            <div class="row w3l-circles">
                <div class="col-lg-6 circles-left">
                    <img src="{% static 'assets/images/a6.jpg' %}" alt="" class="radius-image img-fluid">
                </div>
                <div class="col-lg-6 circles-right mt-lg-0 mt-5 align-self  position-relative">

                    <h3 class="title-w3l mb-4">Health chatbots on the rise</h3>
                    <p class="mb-5">Stay Connected with Patients using WhatsApp Chatbot Solutions
					
						<li>Send Personalized Follow-ups
<li>3x Boost in Bookings with Automated Appointments
<li>Automated WhatsApp Reminders for Samples & Reports.
<li>24/7 Support via Wati Chatbot on WhatsApp

						<li>
					</ul>					</p>
                    <div class="progress-circles-grids">
                        <div class="progress-circles">
                            <div class="progress-left">
                                
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
     
        </div>
    </section>
    <!--//circles-section-->
    <!--/testimonials-->

    <!-- //testimonials -->
    <!--/home-stats-->
    <section class="w3l-stats-main py-5" id="stats">
        <div class="container py-lg-4">
            <div class="row stats-con">
                <div class="col-lg-6 stats-content-left pe-lg-5">
                    <div class="stats_info counter_grid1 text-left">
                        <div class="icon stat-icon">
                            <span class="fas fa-users"></span>
                            <p class="counter">233</p>
                        </div>
                        <div class="stat-icon-des text-left">

                            <h3 class="title-w3l">

                                No of users
                            </h3>
                            <p class="para-stat">The total registered users of this web application</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 stats-content-left ps-lg-5 mt-lg-0 mt-md-5 mt-4">
                    <div class="stats_info counter_grid1 text-left">
                        <div class="icon stat-icon">
                            <span class="fas fa-users"></span>
                            <p class="counter">2233</p>
                        </div>
                        <div class="stat-icon-des text-left">
                            <h3 class="title-w3l">
                                Visitors</h3>
                            <p class="para-stat">The total number of users of who visited this web application. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//home-stats-->
    <!--/footer-->
    <footer class="w3l-footer-29-main">
        <div class="footer-29-w3l py-5">
            <div class="container pt-md-5">
                <div class="w3l-footer-text-style">
                    <div class="footer-list-cont d-sm-flex align-items-center justify-content-between mb-5">

                        <h2 class="w3logo"><a class="navbar-brand" href="index.html">
							  Medical <span class="sub-color">Chatbot</span>
                            </a></h2>
                        <div class="main-social-footer-29">
                            <ul>
                                <li class="w3follow mt-sm-0 mt-4">Follows On : </li>
                                <li><a href="#facebook" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#instagram" class="instagram"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                
                <!-- copyright -->
             
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-long-arrow-alt-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->

    <!-- Template JavaScript -->
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/theme-change.js' %}"></script>
<script src="{% static 'assets/js/circles.js' %}"></script>

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>
